@model Blog.WebUI.Models.RegisterViewModel

@{
    ViewBag.Title = "CreateNewAccount";
    Layout = "~/Views/_LoginLayout.cshtml";
}

<meta name="viewport" content="width=device-width" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
       <div class="panel-heading">Załóż Konto</div>

        <p>Nazwa Użytkownika: @Html.TextBoxFor(e=>e.Login, new { @class = "form-control" })</p>
        <p>Hasło: @Html.PasswordFor(e=>e.Password, new { @class = "form-control" })</p>
        <p>Adres E-Mail: @Html.TextBoxFor(e=>e.EMail, new { @class = "form-control" })</p>
        <p>Imię: @Html.TextBoxFor(e=>e.FirstName, new { @class ="form-control" })</p>
        <p>Nazwisko: @Html.TextBoxFor(e=>e.LastName, new { @class = "form-control"})</p>
        <p>Wiek: @Html.TextBoxFor(e=>e.Age, new { @class = "form-control" })</p>

        <div class="panel-footer">
        <input type="submit" value="Rejestruj!" class="btn btn-primary" />
        </div>
       
    </div>
}